<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Website{% endblock %}</title>
    </head>

    <body>
    <header>
        <h1>{% block header %}Welcome to My Website{% endblock %}</h1>
    </header>

    <nav>
        <ul style="list-style-type: none;">
            <p style="font-weight: bold; font-size: large;">OPCIONES</p>
            <li><a href="{% url 'crear_mensaje' %}">Crear Mensaje</li><br>
            <li><a href="{% url 'ver_mensajes_recibidos' %}">Ver Mensajes Recibidos</li><br>
            <li><a href="{% url 'ver_mensajes_enviados' %}">Ver Mensajes Enviados</a></li><br>
        </ul>
    </nav>

    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>

    </body>
</html>