<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Website{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'mensajes/styles.css' %}">         
    </head>

    <body style="background-color: grey; font-family: 'Courier New', Courier, monospace;">
    <header style="text-align: center;">
        <h1>{% block header %}Welcome to My Website{% endblock %}</h1>
    </header>

    <div style="display: flex; justify-content: center;">
        {% include 'navbar.html' %}
    </div>

    <div class="content" style="display: flex; justify-content: center;">
        {% block content %} {% endblock %}
    </div>

    <footer style="margin-bottom: 0; margin-top: 25px; text-align: center; background-color: rgb(68, 68, 68); padding: 2px;">
        <p>&copy; 2024 - Tablero de Mensajes - gecare@udc.edu.ar</p>
    </footer>

    </body>
</html>