{% extends "base.html" %}

{% block title %}Inicio - My Website{% endblock %}

{% block header %}
    <h1>Crear Mensaje</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST" action="{{url}}">
            {% csrf_token %}
            <br><br>
            <label class="label-formulario" for="texto_del_mensaje">Texto del Mensaje: </label>
            <input class="input-formulario" type="text" name="texto_del_mensaje" id="texto_del_mensaje" placeholder="Escribe el mensaje" required><br>

            <label class="label-formulario" for="remitente">Remitente: </label>
            <input class="input-formulario" type="text" name="remitente" id="remitente" placeholder="Tu nombre" required><br>

            <label class="label-formulario" for="destinatario">Destinatario: </label>
            <input class="input-formulario" type="text" name="destinatario" id="destinatario" placeholder="Nombre del destinatario" required><br><br>

            <input class="boton-crear-mensaje" type="submit" value="Crear Mensaje" >
        </form>
    </div>

{% endblock %}