{% extends "base.html" %}

{% block title %}Inicio - My Website{% endblock %}

{% block header %}
    <h1>Mensajes Recibidos</h1>
{% endblock %}

{% block content %}
    <ol style="list-style-type: none; padding: 0; margin: 0; font-family: 'Courier New', Courier, monospace; font-size: large; font-weight: 400">
        {% for mensaje in mensajes %}
        <h2> Lista de Mensajes Recibidos por {{ destinatario }}</h2>
            <li style="margin-top: 15px;">
                <h3 style="margin-bottom: 5px; text-align: center; color: #FFF;">Mensaje</h3>
                <b>Texto del Mensaje: </b>{{ mensaje.texto_del_mensaje }} <br> 
                <b>Remitente: </b>{{ mensaje.remitente }} <br>
                <b>Destinatario: </b>{{ mensaje.destinatario }} <br>
                <b>Fecha de envio: </b>{{ mensaje.fecha_del_envio }}
            </li> <br>
        {% endfor %}
    </ol> 
{% endblock %}