<nav>
    <ul style="list-style-type: none; display: flex; padding: 0; margin: 0; font-family: 'Courier New', Courier, monospace; font-size: large; font-weight: 500">
        <li style="margin-right: 25px; "><a href="{% url 'home' %}" style="color: #FFF;">Inicio</a></li>
        <li style="margin-right: 25px; "><a href="{% url 'crear_mensaje' %}" style="color: #FFF;">Crear Mensaje</a></li>
        <li style="margin-right: 25px; "><a href="{% url 'ver_mensajes_recibidos' %}" style="color: #FFF;">Ver Mensajes Recibidos</a></li>
        <li><a href="{% url 'ver_mensajes_enviados' %}" style="color: #FFF;">Ver Mensajes Enviados</a></li>
    </ul>        
</nav>