nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Courier New', Courier, monospace; 
    font-size: large;
    font-weight: 500;
}

nav ul li {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul a {
    color: #FFF;
}

body {
    text-align: center;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

footer {
    background-color: rgb(68, 68, 68);
    margin-bottom: 0;
    margin-top: 25px;
    text-align: center;
    padding: 2px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
}

.form-container {
    margin-bottom: 25px;
}

.label-formulario {
    font-size: 20px; 
    color: #000; 
    font-weight: bolder;
}

.input-formulario {
    width: 300px; 
    height: 30px;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}

.boton-crear-mensaje {
    color: #FFF; 
    font-weight: bold; 
    width: 300px; 
    height: 30px; 
    border-radius: 15px; 
    border: none; 
    text-align: center; 
    font-size: 17px; 
    cursor: pointer; 
    background-color: #e24800;
    margin-bottom: 15px;
}

.lista-mensajes {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: large;
    font-weight: 400;
}